.build_coverage
.build_desktop
.pio
.vscode
spool
data/laptop.pem
data/config.json
esp32-build
esp32-data
flash_spiffs.bin
otadata.bin
partition_table.bin
server/.env
tools/switchbot.sh
tools/xiaomi.sh
