[submodule "lib/PrayerTimes"]
	path = third_party/PrayerTimes
	url = git@github.com:marcogallotta/PrayerTimes.git
[submodule "lib/ArduinoJson"]
	path = third_party/ArduinoJson
	url = git@github.com:bblanchon/ArduinoJson.git
[submodule "third_party/doctest"]
	path = third_party/doctest
	url = https://github.com/doctest/doctest.git
