{
    "api": {
        "base_url": "http://localhost:8000",
        "api_key": "YOUR_API_KEY",
        "pem_file": "certs/YOUR_CERT.pem"
    },
    "forecast": {
        "openmeteo_pem": "certs/openmeteo.pem",
        "update_interval_minutes": 60
    },
    "location": {
        "latitude": 48.9,
        "longitude": 2.3,
        "timezone": "Europe/Paris",
        "timezone_long": "CET-1CEST,M3.5.0/2,M10.5.0/3"
    },
    "salah": {
        "timezone_offset_minutes": 60,
        "dst_rule": "eu",
        "asr_makruh_minutes": 20,
        "hanafi_asr": true
    },
    "switchbot": {
        "sensors": [
            { "mac": "AA:BB:CC:DD:EE:FF", "name": "Room 1", "short_name": "R1" },
            { "mac": "11:22:33:44:55:66", "name": "Room 2", "short_name": "R2" }
        ]
    },
    "wifi": {
        "ssid": "YOUR_WIFI_SSID",
        "password": "YOUR_WIFI_PASSWORD"
    },
    "xiaomi": {
        "update_interval_minutes": 60,
        "sensors": [
            { "mac": "AA:BB:CC:DD:EE:FF", "name": "Plant 1", "short_name": "P1" }
        ]
    }
}
